<ion-content>
    <ion-list>
        <div *ngFor="let vendaByDate of vendasGroupByDateAndByPeca; let lastItem = last;">
            <ion-list-header>
                <div *ngIf="getQtdTotalVendasByDate(vendaByDate) === 1; else plural">
                    {{vendaByDate[0][0].data}} — {{getQtdTotalVendasByDate(vendaByDate)}} Venda
                </div>

                <ng-template #plural>
                    {{vendaByDate[0][0].data}} — {{getQtdTotalVendasByDate(vendaByDate)}} Vendas
                </ng-template>

                <button ion-button (click)="insert()" clear icon-only item-end>
                    <ion-icon name="cart"></ion-icon>
                </button>

                <button ion-button (click)="buttonClick()" clear icon-only item-end margin>
                    <ion-icon name="shirt"></ion-icon>
                </button>

            </ion-list-header>

            <ion-item-sliding *ngFor="let vendaByPeca of vendaByDate">
                <ion-item>
                    <ion-grid text-center>
                        <ion-row align-items-center>
                            <ion-col>
                                <button ion-button
                                        (click)="deleteByPecaAndAddEstoque(vendaByPeca.length, vendaByPeca[0].pecaFeira)"
                                        class="circle-button" color="primary"
                                        icon-only>
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                            </ion-col>

                            <ion-col>
                                <h3>{{vendaByPeca[0].pecaFeira.modelo.nome}} -
                                    {{vendaByPeca[0].pecaFeira.modelo.tamanho}}</h3>
                                <p>R${{getValorTotalVendaByPeca(vendaByPeca)}}</p>
                                <p>{{vendaByPeca.length}}</p>
                            </ion-col>

                            <ion-col>
                                <button ion-button (click)="insertOne(vendaByPeca[0].pecaFeira)" class="circle-button"
                                        color="primary"
                                        icon-only>
                                    <ion-icon name="add"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="detalhes(vendaByPeca)">
                        <ion-icon name="search"></ion-icon>
                        Detalhes
                    </button>

                    <!--TODO-Eric conversar com os devs sobre a necessidade desta opção-->
                    <button ion-button color="danger" (click)="delete(vendaByPeca)">
                        <ion-icon name="trash"></ion-icon>
                        Apagar
                    </button>
                </ion-item-options>

            </ion-item-sliding>

            <div *ngIf="lastItem">
                {{presentLoading(false)}}
            </div>

        </div>
    </ion-list>
</ion-content>


