page-venda-home {
  .vertical-center-text {
    padding-top: 30%;
  }
  .master {
    background-color: #dddddd;
  }
}

expandable {
  p {
    font-size: 0.7em !important;
  }

  h3 {
    font-size: 0.7em !important;
  }
}