expandable {
  p {
    font-size: 0.7em !important;
  }

  h3 {
    font-size: 0.7em !important;
  }
}

ion-list-header {
  .label {
    color: white;
    font-size: 1em;
  }
}

ion-navbar {
  .toolbar-content {
    color: white;
    font-size: 1em;
  }
}

ion-item {
  p {
    font-size: 0.7em !important;
  }
}


page-venda-home {
  .vertical-center-text {
    padding-top: 30%;
  }
  .master {
    background-color: #dddddd;
  }
}

.button-clear-md {
  color: white;
}

.circle-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.list-header-md {
  background-color: #4A6572;
}