<ion-header>
    <ion-navbar>
        <div *ngIf="qtdTotalVendas > 1; else showTextSingular">
            <p margin>Hoje — {{qtdTotalVendas}} vendas</p>
        </div>

        <ng-template #showTextSingular>
            <p margin>Hoje — {{qtdTotalVendas}} vendas</p>
        </ng-template>

        <ion-buttons end>
            <button ion-button (click)="showFilterOptions()" clear icon-only>
                <ion-icon name="funnel"></ion-icon>
            </button>

            <button ion-button (click)="insert()" clear icon-only>
                <ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let vendas of vendasGroupedByPeca; let lastItem = last;">
            <ion-item>
                <ion-grid text-center>
                    <ion-row align-items-center>
                        <ion-col>
                            <button ion-button
                                    (click)="estornar(vendas.length, vendas)"
                                    class="circle-button" color="primary"
                                    icon-only>
                                <ion-icon name="remove"></ion-icon>
                            </button>
                        </ion-col>

                        <ion-col (click)="showDetails(vendas)">
                            <h3>{{vendas[0].pecaFeira.modelo.nome}} -
                                {{vendas[0].pecaFeira.modelo.tamanho}}</h3>
                            <p>R${{getValorTotalVendaByPeca(vendas)}}</p>
                            <p ion-text color="primary">{{vendas.length}}</p>
                        </ion-col>

                        <ion-col>
                            <button ion-button (click)="insertOne(vendas[0].pecaFeira)" class="circle-button"
                                    color="primary"
                                    icon-only>
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="primary" (click)="detalhes(vendas)">
                    <ion-icon name="search"></ion-icon>
                    Detalhes
                </button>
            </ion-item-options>

            <div *ngIf="lastItem">
                {{presentLoading(false)}}
            </div>
        </ion-item-sliding>

    </ion-list>
</ion-content>


