<ion-header>
    <ion-navbar>
        <div *ngIf="qtdTotalVendas > 1; else showTextSingular">
            <p margin>{{filtro}} — {{qtdTotalVendas}} vendas</p>
        </div>

        <ng-template #showTextSingular>
            <p margin>{{filtro}} — {{qtdTotalVendas}} venda</p>
        </ng-template>

        <ion-buttons end>
            <button ion-button (click)="onClickAbrirOpcoesFiltro()" clear icon-only>
                <ion-icon name="funnel">
                    <ion-select [(ngModel)]="filtro" (ionChange)="onChangeRcprVendasComFiltro()" cancelText="Cancelar"
                                okText="Confirmar" hidden #selectFiltro>
                        <ion-option>Hoje</ion-option>
                        <ion-option>Mês</ion-option>
                        <ion-option>Total</ion-option>
                    </ion-select>
                </ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let venda of vendas; let lastItem = last;">
            <ion-item>
                <ion-grid text-center>
                    <ion-row align-items-center>

                        <ion-col>
                            <h3>{{recuperarNomePeca(venda)}}</h3>
                            <p>R${{mascaraDinheiro(venda.preco)}}</p>
                            <p ion-text color="primary">
                                <ion-icon name="basket"></ion-icon>
                                {{recuperarQtdVendas(venda)}}
                            </p>
                        </ion-col>
                        <ion-col>
                                <p class="preco">R${{mascaraDinheiro(venda.preco*venda.quantidade)}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="primary" (click)="onClickAbrirModalDetalhesVenda(venda)">
                    <ion-icon name="search"></ion-icon>
                    Detalhes
                </button>
            </ion-item-options>

            <div *ngIf="lastItem">
                {{mostrarLoading(false)}}
            </div>
        </ion-item-sliding>

    </ion-list>
</ion-content>

<ion-footer>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div ion-button (click)="onClickFecharModal()" block color="primary" small>Voltar</div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-footer>



