<ion-header>
    <ion-navbar>
        <ion-grid text-center>
            <ion-row>
                <ion-col>
                    <div>Peça</div>
                </ion-col>
                <ion-col>
                    <div>Quantidade</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let defeitosPorPeca of defeitosAgrupadosPorPeca; let lastItem = last;">
            <ion-item-sliding>
                <ion-item>
                    <ion-grid text-center>
                        <ion-row>
                            <ion-col>
                                <h3>{{defeitosPorPeca[0].pecaFeira.modelo.nome}} -
                                    {{defeitosPorPeca[0].pecaFeira.modelo.tamanho}}</h3>
                            </ion-col>

                            <ion-col>
                                <h3>{{defeitosPorPeca.length}}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="primary" (click)="onClickAbrirModalDetalhesDefeitos(defeitosPorPeca)">
                        <ion-icon name="search"></ion-icon>
                        Detalhes
                    </button>
                </ion-item-options>

            </ion-item-sliding>

            <div *ngIf="lastItem">
                {{mostrarLoading(false)}}
            </div>
        </div>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (click)="onClickAbrirModalCadastroDefeito()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>