page-defeito-home {

  ion-navbar {
    .toolbar-content {
      color: white;
      font-size: 1em;
    }
  }

  ion-item {
    p {
      font-size: 0.7em !important;
      font-weight: bold;
    }

    ion-icon {
      margin-right: 3px;
    }
  }

  .vertical-center-text {
    padding-top: 30%;
  }
  .master {
    background-color: #dddddd;
  }

  .list-header {
    background-color: #2f4149;
    color: white;
  }
}