<ion-header>

    <!--TODO botão de fechar modal (e.g.: ModalController do Ionic Doc)-->
    <ion-navbar>
        <ion-title>
            Inserir Modelo
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup" (ngSubmit)="insert()">
    
        <ion-item>
            <ion-label color="primary" stacked>Nome do Modelo</ion-label>
            <ion-input formControlName="modelo" type="string"></ion-input>
        </ion-item>

        <div *ngIf="(formGroup.controls.modelo.dirty || formGroup.controls.modelo.touched)" class="error-text" margin-left>
            <div ion-text color="danger" *ngIf="formGroup.controls.modelo.errors?.required">
                <p>Campo de preenchimento obrigatório.</p>
            </div>
        </div>

        <ion-item>
            <ion-label color="primary" stacked>Tamanho</ion-label>
            <ion-input formControlName="tamanho" type="string"
                       placeholder="Tamanho do Modelo"></ion-input>
        </ion-item>

        <div *ngIf="(formGroup.controls.tamanho.dirty || formGroup.controls.tamanho.touched)"
             class="error-text" margin-left>
            <div ion-text color="danger" *ngIf="formGroup.controls.tamanho.errors?.required">
                <p>Campo de preenchimento obrigatório.</p>
            </div>
        </div>
    </form>
</ion-content>

<ion-footer>
    <form [formGroup]="formGroup" (ngSubmit)="insert()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div ion-button (click)="onClickDismissModal()" block color="danger" small>Cancelar</div>
                </ion-col>

                <ion-col>
                    <button ion-button [disabled]="!formGroup.valid" block color="secondary" small type="submit">
                        Confirmar
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>


