<ion-header>
    <ion-navbar>
        <ion-title>
            Dados da Venda
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="onClickFecharModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup" (ngSubmit)="insert()">
        <ion-item>
            <ion-label color="primary" stacked>Peça</ion-label>
            <ion-select (ionChange)="onSelectChangeUpdatePreco($event)" formControlName="peca">
                <ion-option *ngFor="let peca of pecas" [value]="peca">{{peca.modelo.nome}} - {{peca.modelo.tamanho}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Preço Unitário</ion-label>
            <ion-input [brmasker]="{money: true, numberAndTousand: true, thousand: '.'}" formControlName="preco"
                       type="text"></ion-input>
        </ion-item>

        <div *ngIf="formGroup.controls.preco.invalid && (formGroup.controls.preco.dirty || formGroup.controls.preco.touched)"
             class="error-text" margin-left>
            <div ion-text color="danger" *ngIf="formGroup.controls.preco.errors.required">
                <p>Campo de preenchimento obrigatório.</p>
            </div>

            <div ion-text color="danger" *ngIf="formGroup.controls.preco.errors.min">
                <p>O preço unitário da peça deve ser maior do que 0.</p>
            </div>
        </div>

        <ion-item>
            <ion-label color="primary" stacked>Data da Venda</ion-label>
            <ion-datetime formControlName="data" [max]="dataMax" displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Quantidade</ion-label>
            <ion-input formControlName="quantidade" type="number"
                       placeholder="Quantidade de peças vendidas"></ion-input>
        </ion-item>

        <div *ngIf="formGroup.controls.quantidade.invalid && (formGroup.controls.quantidade.dirty || formGroup.controls.quantidade.touched)"
             class="error-text" margin-left>
            <div ion-text color="danger" *ngIf="formGroup.controls.quantidade.errors.required">
                <p>Campo de preenchimento obrigatório.</p>
            </div>

            <div ion-text color="danger" *ngIf="formGroup.controls.quantidade.errors.min">
                <p>A quantidade de peças vendidas deve ser maior ou igual à 1.</p>
            </div>
        </div>
    </form>

    <ion-grid text-center margin-top>
        <ion-row>
            <ion-col>
                <button (click)="decrement()" [large]="true" ion-button icon-only>
                    <ion-icon name="remove"></ion-icon>
                </button>
            </ion-col>

            <ion-col>
                <button (click)="increment()" [large]="true" ion-button icon-only>
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

<ion-footer>
    <form [formGroup]="formGroup" (ngSubmit)="insert()">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div ion-button (click)="onClickFecharModal()" block color="danger" small>Cancelar</div>
                </ion-col>

                <ion-col>
                    <button ion-button [disabled]="!formGroup.valid" block color="secondary" small type="submit">
                        Confirmar
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>


