page-home {
    .center{
        align-self: center;
        text-align: center;
    }

    .logo{
        font-size: 3em;

    }

    .subtitulo{
        font-size: 0.8em;
        font-weight: bold;

    }

    .telaPng {
        height:200px;
        width: 200px;
        margin: auto;
        display: block;
    }
}
