<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let venda of vendas">
            <ion-item>
                <ion-grid text-center>
                    <ion-row>
                        <ion-col>
                            <p>Nome:</p>
                            <h3>{{venda.pecaFeira.modelo.nome}}</h3>
                        </ion-col>
                        <ion-col>
                            <p>Tamanho:</p>
                            <h3>{{venda.pecaFeira.modelo.tamanho}}</h3>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <p>Dia da venda:</p>
                            <h3>{{venda.data}}</h3>
                        </ion-col>
                        <ion-col>
                            <p>Quantidade:</p>
                            <h3>{{venda.quantidade}}</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(venda)">
                    <ion-icon name="trash"></ion-icon>
                    Apagar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab mini (click)="insert()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>


