<ion-header>
    <ion-navbar>
        <ion-title>
            {{dataInicial}} — {{dataFinal}}
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="onClickDismissModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let vendasFromDate of vendasGroupedByDate">
            <ion-list-header>
                <div *ngIf="vendasFromDate.length === 1; else plural">
                    {{vendasFromDate[0].data}} — {{vendasFromDate.length}} venda —
                    R${{calcVlrTotalVendas(vendasFromDate)}}
                </div>

                <ng-template #plural>
                    {{vendasFromDate[0].data}} — {{vendasFromDate.length}} vendas —
                    R${{calcVlrTotalVendas(vendasFromDate)}}
                </ng-template>

            </ion-list-header>

            <div *ngFor="let venda of vendasFromDate.reverse(); let vendaIndex = index;">
                <ion-item align-items-center>
                    <h3 ion-text color="primary" item-start>{{vendaIndex + 1}}.</h3>
                    <p>
                        <ion-icon ion-text color="secondary" name="checkmark"></ion-icon>
                        R${{mascaraDinheiro(venda.preco)}}
                    </p>
                    <p item-end class="qtdVenda">×{{venda.quantidade}}</p>
                </ion-item>
            </div>

        </div>
    </ion-list>
</ion-content>

<ion-footer>

    <ion-row>
        <ion-item>
            <h3 item-start>
                <ion-icon name="basket"></ion-icon>
                {{vendas.length}}
            </h3>
            <h2 text-center class="vlrTotal">R${{calcVlrTotalVendas(vendas)}}</h2>
            <p class="qtdVenda" item-end><ion-icon name="shirt"></ion-icon>{{calcQtdTotalPecasVendidas()}}</p>
        </ion-item>
    </ion-row>

</ion-footer>