page-defeito-details {

  ion-item {

    ion-icon {
      margin-right: 3px;
    }

    p {
      font-size: 0.7em;

      ion-icon {
        margin-left: 10px;
        margin-right: 5px;
      }

    }

  }

}
