<ion-content>
    <ion-list>
        <div *ngFor="let dataDefeito of defeitosGroupByDate; let lastItem = last;">
            <ion-list-header>
                <div *ngIf="dataDefeito.length === 1; else plural">
                    {{dataDefeito[0].data}} — {{dataDefeito.length}} Defeito
                </div>

                <ng-template #plural>
                    {{dataDefeito[0].data}} — {{dataDefeito.length}} Defeitos
                </ng-template>

            </ion-list-header>

            <ion-item-sliding *ngFor="let defeito of dataDefeitos.reverse()">
                <ion-item>
                    <ion-grid text-center>
                        <ion-row>
                            <ion-col>
                                <p ion-text color="primary">Peça:</p>
                                <h3>{{defeito.pecaFeira.modelo.nome}} - {{defeito.pecaFeira.modelo.tamanho}}</h3>
                            </ion-col>

                            <ion-col>
                                <p ion-text color="primary">Quantidade:</p>
                                <h3>{{defeito.quantidade}}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-item>

                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="delete(defeito)">
                        <ion-icon name="trash"></ion-icon>
                        Apagar
                    </button>
                </ion-item-options>

            </ion-item-sliding>

            <div *ngIf="lastItem">
                {{presentLoading(false)}}
            </div>

        </div>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (click)="insert()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>